
::-moz-selection { 
    color: #fff;
    background: #ccc;
}

::selection {
    color: #fff;
    background: #ccc;
}

#contenedor {
	width:1024px;
	margin:auto;
}

#header { 
	width:850px;
	height:160px;	
    position:relative;
    margin:auto;
}

#header img {  
	position:absolute;
    bottom:30px;
    left:0;
	width:234px;  
}

ul.nav {
	list-style-type:none;
	position:absolute;
    bottom:9px;
    right:0;
	text-align:right;
}

li.navlink {
	display:inline-block;
}

li.navlink a {
	font-size:11px;
	font-family: 'Raleway', sans-serif;
	color:#777;
	letter-spacing:0.5px;
	text-transform:uppercase;
	text-decoration:none;
	margin: 0px 6px 0px 6px;
	padding: 0px 1px 0px 1px;
  -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
} 

li.navlink a:hover {
	color:#ccc;
}

li.navlink a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  bottom:-5px;
  height:3px;
  width:0px;
  background:#ccc;
}

li.navlink .first:after{  
	left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}

li.navlink a.after:hover:after{
  width:100%;
}


#principal {
	width:1024px;
	height:632px;
    position:relative;
	-webkit-transition: background-image 0.4s ease-in;
  	-moz-transition: background-image 0.4s ease-in;
 	transition: background-image 0.4s ease-in;
}

.fondo {	
    background-image:url("imagenes/rostro.jpg");
    background-repeat: no-repeat;
}


.bgris {	
    background-image:url("imagenes/cambio/bgris.jpg");
}

.bmarron {	
    background-image:url("imagenes/cambio/bmarron.jpg");
}

.bavellana {	
    background-image:url("imagenes/cambio/bavellana.jpg");
}

.bamarillo {	
    background-image:url("imagenes/cambio/bamarillo.jpg");
}

.bverde {	
    background-image:url("imagenes/cambio/bverde.jpg");
}

.bazul {	
    background-image:url("imagenes/cambio/bazul.jpg");
}

.bvioleta {	
    background-image:url("imagenes/cambio/bvioleta.jpg");
}

.brosa {	
    background-image:url("imagenes/cambio/brosa.jpg");
}

.brojo {	
    background-image:url("imagenes/cambio/brojo.jpg");
}


#test {
	width:320px;
	border:2px solid #BBA86E;
	position:relative;
	top:91px;
	left:85px;
	text-align:center;
}

#test p {
	font-size:36px;
	font-family: 'Raleway', sans-serif;	
    font-weight: 600;
    color:#b2b2b2;
    margin-top:20px;
    letter-spacing:2px;
}

#test p span {
	color:#BBA86E;
}

#calltoaction {	
	margin-top:-14px;
	margin-bottom:29px;
}

#test a {
	font-family: 'Raleway', sans-serif;	
	font-size:13px;
	text-decoration:none;
	text-align:center;
	color:#ffffff;
	background-color:#BBA86E;
	border:2px solid #BBA86E;
	padding:8px 28px 8px 28px;
	margin:auto;
	margin-top:-50px;
	margin-bottom:50px;
	-webkit-transition: 0.4s ease-in;
  	-moz-transition: 0.4s ease-in;
 	transition: 0.4s ease-in;
}

#test a:hover {
	background-color:#ffffff;
	color:#BBA86E;
	border:2px solid #BBA86E;
}

#gotas {
	width:322px;
	position:relative;
	top:180px;
	left:96px;
}

#gotas img {
	height:194px;
	float:left;
}

#caracteristicas {
	width:190px;
	margin-top:-10px;
	float:right;
}

#caracteristicas p {
	font-family: 'Raleway', sans-serif;
}

#caracteristicas .titulo {
	font-size:20px;	
	color:#BBA86E;
    font-weight:600;
    margin-bottom:-15px;
}

ul.items {	
    list-style-image: url('imagenes/iconos/lista.jpg');
    margin-left:-15px;
}

li.item {
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	color:#8e8e8e;
	padding-top:12px;
	padding-left:2px;
}

#caracteristicas .subtitulos {
	font-size:11px;
	color:#b2b2b2;
	padding-left:27px;
}


#paleta {
	width:249px;
	height:455px;
	position:relative;
	top:-85px;
	left:400px;
}

#paleta p {
	font-family: 'Raleway', sans-serif;
	font-size:10.5px;
	color:#555;
	position:absolute;	
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in;
  	-moz-transition: opacity 0.4s ease-in;
 	transition: opacity 0.4s ease-in;
}

#paleta img:hover + p {
	opacity:1;
}

#paleta img {
	width:38px;
	position:absolute;
}

#gris img {	
	top:0px;
	left:97px;
}

#gris p {
	top:0px;
	left:62px;
}

#marron img {
	top:55px;
	left:90px;
}

#marron p {
	top:51px;
	left:30px;
}

#miel img {
	top:109px;
	left:88px;
}

#miel p {
	top:109px;
	left:51px;
}

#ambar img {
	top:164px;
	left:94px;
}

#ambar p {
	top:164px;
	left:42px;
}

#verde img {
	top:218px;
	left:106px;
}

#verde p {
	top:218px;
	left:59px;
}

#azul img {
	top:270px;
	left:122px;
}

#azul p {
	top:272px;
	left:82px;
}

#violeta img {
	top:320px;
	left:143px;
}

#violeta p {
	top:321px;
	left:86px;
}

#rosa img {
	top:368px;
	left:169px;
}

#rosa p {
	top:371px;
	left:130px;
}

#rojo img {
	top:415px;
	left:198px;
}

#rojo p {
	top:418px;
	left:160px;
}

#razones {
	background-color:#f2f2f2;
	margin-top:-30px;
	padding:45px 0px 45px 0px;
	text-align:center;
	width:1024px;
}


h2 {
	font-family: 'Raleway', sans-serif;
	font-size:36px;
	text-align:center;
}

#razones h2 {
	color:#c6c6c6;
}

ul.raz {
	list-style-type:none;
	margin-left:-31px;
}

li.detalle {	
	width:147px;
	display:inline-block;
	margin:0px 14px;
}

li.detalle .razon {
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight:500;
	color:#999999;
	margin-top:15px;
}

li.detalle .descripcion {
	font-family: 'Raleway', sans-serif;
	font-size:11px;
	color:#a5a5a5;
	margin-top:12px;
}

li.detalle img {
	width:54px;
}

#destacados {
	text-align:center;
	padding:20px 0px 55px 0px;
	margin-bottom:-8px;
}

#destacados h2 {
	color:#BBA86E;
}

.ojodestacado {	
	display:inline-block;
	margin:0px 12px;
	-webkit-transition: 0.4s ease-in;
  	-moz-transition: 0.4s ease-in;
 	transition: 0.4s ease-in;
}

.ojodestacado img {
	width:138px;
	border-radius: 100px;
	border:1px solid #eee;
	padding:4px;
	opacity:1;
	-webkit-transition: 0.4s ease-in;
  	-moz-transition: 0.4s ease-in;
 	transition: 0.4s ease-in;
}

.ojodestacado a {
	font-family: 'Raleway', sans-serif;
	font-size:12px;
	color:#8e8e8e;
	text-decoration:none;
	-webkit-transition: 0.4s ease-in;
  	-moz-transition: 0.4s ease-in;
 	transition: 0.4s ease-in;
}

.ojodestacado:hover img {
	opacity:0.6;
}

.ojodestacado:hover p {
	color:#BBA86E;
}

footer {
	background-color:#d3d3d3;
	color:#606060;
	padding-top:75px;
	padding-bottom:65px;
	position:relative;
	bottom:-8px;
}

#contacto {
	width:1024px;
	text-align:center;
}

.info {
	width:160px;
	display:inline-block;
	text-align:left;
	margin:0px 89px 0px 89px;
}

.info img {
	width:53px;
	float:left;
	margin-right:11px;
}

.info .dato {	
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	font-size:14px;
	margin-top:6px;
}

.info .dato2 {
	font-family: 'Roboto Condensed', sans-serif;	
	font-size:12px;
}

ul#links {
	list-style-type:none;
	margin-top:50px;
    margin-left:78px;
    padding:10px;
}

ul#links li a {
	float:left;
	font-size:11px;
	font-family: 'Raleway', sans-serif;
	letter-spacing:0.5px;
	text-transform:uppercase;
	text-decoration:none;
	color:#606060;
	-webkit-transition: 0.2s ease-in;
  	-moz-transition: 0.2s ease-in;
 	transition: 0.2s ease-in;
    padding:0px 10px 0px 10px;
}

ul#links li a:hover {
	color:#eee;
}

#colecciones {
	background-color:#f2f2f2;
	padding-top:30px;
	padding-bottom:85px;
	margin-bottom:-8px;
	position:relative;
}

#colecciones h2 {
	color:#bba86e;
}

#colecciones .detallecolec {
	color:#b2b2b2;
	font-family: 'Raleway', sans-serif;
	font-size:11px;	
	text-align:center;
	margin-top:-28px;
}

#colecciones h3 {
	text-align:center;
	width:161px;
	font-size:25px;
	color:#bba86e;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	position:absolute;
	left:-35px;
	top:40px;
	display:inline-block;
    -ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg); 
}

#colecciones .descripcioncolec {
	margin-left:93px;
	display:inline-block;
	width:147px;
	height:161px;
	background-color:#bba86e;
	color:#fff;
	font-size:11.5px;
	font-family: 'Raleway', sans-serif;
	text-align:center;
}

#colecciones .descripcioncolec p {
	padding-top:45px;
}

.colorescolec {
	width:558px;
	height:161px;
	background-color:#fff;
	display:inline-block;
	position:absolute;
	top:0px;
	text-align:center;
}

#coleccion1 {
	width:820px;
	position:relative;
	margin-top:40px;
	left:90px;
}

#coleccion2 {
	width:820px;
	position:relative;
	margin-top:46px;
	left:90px;
}

#coleccion3 {
	width:820px;
	position:relative;
	margin-top:46px;
	left:90px;
}

#coleccion1 h3 {
	margin-right:-10px;
}
#coleccion2 h3 {
	margin-right:-11px;
}
#coleccion3 h3 {
	margin-right:-3px;
}

.imgcontenedor {
	position:relative;
	width:138px;
	border-radius:100px;
	border:1px solid #eee;
	padding:4px;
	display:inline-block;
	margin:6px 14px 0px 14px;
}

.imgojo {
	display:block;
	width:100%;
	height:auto;
	border-radius:100px;
}

.overlay {
	border-radius:100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transition: 0.4s ease-in;
  	-moz-transition: 0.4s ease-in;
 	transition: 0.4s ease-in;
	background-color: #bba86e;
}

.imgcontenedor:hover .overlay {
	opacity:0.88;
}

.imgnombre {
	font-size:11px;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	color:#ffffff;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.imgnombre img {
	width:45px;
	margin:auto;
}

#tecnologia {
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
}

#tecnologia h2 {	
	color:#BBA86E;
	margin-bottom:1px;
}

#tecnologia a {
	font-size:12px;
	font-weight:600;
	font-family:'Raleway', sans-serif;
	text-decoration:none;
	color:#B2B2B2;
	padding:5px 10px 5px 10px;
	text-align:center;
	-webkit-transition: 0.2s;
  	-moz-transition: 0.2s;
 	transition: 0.2s;
}

#tecnologia a:hover{
	color:#8e8e8e;
}

#sobreopti {
	padding-top:7px;
	padding-bottom:45px;
}

#sobreopti h4 {
	color:#BBA86E;
	font-size:30px;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	text-align:center;
	margin-bottom:18px;
}

#sobre1 {
	background-color:#f2f2f2;
	width:668px;
	height:223px;
	position:relative;
	margin:auto;
	margin-bottom:50px;
}

#gotastecnologia img {
	width:192px;
	position:absolute;
	left:-25px;
	top:-40px;
}

ul#caracteristicas {
	list-style-type:none;
	width:850px;
	position:absolute;
	left:117px;
	top:51px;
	width:232px;
}

.caracteristica {
	font-size:13px;
	font-family: 'Raleway', sans-serif;	
	text-transform:uppercase;
	color:#8e8e8e;
	margin-bottom:48px;
	text-align:right;
	-webkit-transition: 0.4s ease-in;
  	-moz-transition: 0.4s ease-in;
 	transition: 0.4s ease-in;
}

.caracteristica:hover {
	margin-right:4px;
}

#linea1 {
	width:140px;
	height:2px;
	background-color:#a5a5a5;
	position:absolute;
	top:48px;
	left:406px;
	z-index:999;
}

#linea2 {
	width:100px;
	height:2px;
	background-color:#a5a5a5;
	position:absolute;
	top:110px;
	left:406px;
	z-index:999;
}

#linea3 {
	width:128px;
	height:2px;
	background-color:#a5a5a5;
	position:absolute;
	top:175px;
	left:406px;
	z-index:999;
}

#ojotecnologia img {
	width:181px;
	position:absolute;
	top:21px;
	right:25px;	
	z-index:2;
}

#sobre2 {
	width:710px;
	position:relative;
	margin:auto;
}

#sobretexto {	
	color:#8e8e8e;
	width:330px;
	font-size:12.5px;
	font-family: 'Raleway', sans-serif;
	float:right;
	position:absolute;
	right:5px;
	bottom:20px;
}

#preguntas {
	margin:auto;
	width:850px;
	margin-bottom:65px;
}

#preguntas h4 {
	color:#c6c6c6;
	font-size:30px;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	text-align:center;
	margin-bottom:3px;
}

ul.faq {
	list-style-type:none;
	width:850px;
	margin-left:-39px;
}

#preguntas .question {
	background-color:#BBA86E;
	color:#fff;
	font-size:16px;
	font-family: 'Raleway', sans-serif;
	padding:3px;
	font-weight:600;
	text-align:center;
}

#preguntas .answer {
	background-color:#F2F2F2;
	color:#a5a5a5;
	font-size:15px;
	font-family: 'Raleway', sans-serif;
	padding:6px 40px 6px 40px;
	margin-bottom:18px;
}

#seccioncontacto {
	width:1024px;
	padding-top:30px;
	padding-bottom:85px;
	margin-bottom:-8px;
    position:relative;
    text-align:center;
}

#seccioncontacto h2 {
	color:#bba86e;
}

#seccioncontacto h6 {
	font-size:21px;
	font-family: 'Raleway', sans-serif;
	color:#bba86e;
}

#ubicacion {
	width:323px;
	margin-left:90px;
}

#ubicacion h6 {
	margin-bottom:8px;
}

#gmap_canvas {
	width:323px;
	height:323px;
}

#telefono {	
	width:323px;
	background-color:#f2f2f2;
	margin-top:-8px;
	margin-left:90px;
}

#telefono h6 {
	padding-top:15px;
	margin-bottom:-18px;
}

#telefono p {
	color:#8e8e8e;
	font-family: 'Raleway', sans-serif;
}

#telefono p#tel {
	font-size:20px;
	margin-bottom:-5px;
}

#telefono p#horarios {
	font-size:10px;
	padding-bottom:16px;
}

#mensaje {
	width:498px;
	background-color:#f2f2f2;
	padding:25px 30px 30px 30px;
	display:inline-block;
	left:439px;
	top:150px;
	position:absolute;
}

#mensaje h6 {
	margin-top:0px;
	margin-bottom:-2px;
}

#mensaje p#escrib {
	color:#8e8e8e;
	font-family: 'Raleway', sans-serif;
	font-size:12px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color:#8e8e8e;
}

#submitcontacto input[type=submit] {
    width: 100%;
    background-color: #bba86e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#msj {
	padding-bottom:160px;
}

#banners {
	text-align:center;
	margin:auto;
	margin-bottom:150px;
}

#banners h1 {
	color:#bba86e;
	font-family: 'Raleway', sans-serif;
	font-size:36px;
	margin-top:75px;
}

#banners p {
	width:600px;
	background-color:#f2f2f2;
	color:#9e9e9e;
	font-family: 'Raleway', sans-serif;
	font-size:12px;
	padding:20px;
	margin:auto;
	text-align:left;
	margin-bottom:-10px;
}

#banners img {
	display:block;
	margin:auto;
	padding:80px;
}

#banners #volver {	
	margin-top:60px;
}

#banners a {
	padding:18px 30px 18px 30px;
	background-color:#bba86e;
	color:#ffffff;
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	font-size:20px;
	text-decoration:none;
	-webkit-transition: 0.4s ease-in;
  	-moz-transition: 0.4s ease-in;
 	transition: 0.4s ease-in;
}

#banners a:hover {
	background-color:#eeeeee;
	color:#a5a5a5;
}

#quiz {	
	text-align:center;
	margin:auto;
	width:850px;
}

#quiz h2 {
	color:#bba86e;
}

#quiz h3 {
	font-size:15px;
	background-color:#bba86e;
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	padding:7px;
	color:#fff;
	width:322px;
	margin:auto;
	margin-bottom:0px;
}

#quiz .detallequiz {
	color:#b2b2b2;
	font-family: 'Raleway', sans-serif;
	font-size:11px;	
	text-align:center;
	margin-top:-28px;
	margin-bottom:42px;
}


.quizsection {
	margin-bottom:45px;
	text-align:center;
	background-color: #f2f2f2;
	text-align:center;
	padding:25px;
}

.options {
	margin:auto;
	text-align:center;
}

.options input[type="radio"] {
	display:none;
}

.options input[type="radio"]:checked + .answerquiz img { 
    filter:brightness(150%);
}

.options input[type="radio"]:checked ~ * { 
	border:3px solid #bba86e;
    background-color:#bba86e;
    color:#fff;
	-webkit-transition: 0.4s ease-in-out;
  	-moz-transition: 0.4s ease-in-out;
 	transition: 0.4s ease-in-out;
}

.answerquiz {
	font-family: 'Raleway', sans-serif; 
	font-size: 12px;
	font-weight:500;
	color:#A5A5A5;
	width:120px;
	height:120px;
	margin:15px;
	background-color:#f2f2f2;
	border:3px solid #f2f2f2;
	display:inline-block;
	text-align:center;
	-webkit-transition: 0.2s ease-in;
  	-moz-transition: 0.2s ease-in;
 	transition: 0.2s ease-in;	
}

.answerquiz:hover {
	border:3px solid #bba86e;
}

.answerquiz img {
	width:80px;
	display:block;
	margin:auto;
	padding:7px 0px 10px 0px;
}

#submittest input[type=submit] {
    background-color:#bba86e;
    border:2px solid #bba86e;
    color: white;
    font-size:14px;
    padding: 12px 20px;
    cursor: pointer;
    font-weight:600;
	-webkit-transition: 0.4s ease-in-out;
  	-moz-transition: 0.4s ease-in-out;
 	transition: 0.4s ease-in-out;
	font-family: 'Raleway', sans-serif;
	margin-bottom:70px;
	margin-top:-5px;
}

#submittest input[type=submit]:hover {
    border:2px solid #bba86e;
    background-color:#fff;
    color:#bba86e;
}

#portadatest {
    background-image:url("imagenes/fondotest.gif");
    width:1024px;
    height:688px;
	position:relative;
	margin-bottom:-8px;
}

#comenzar {
	margin-left:87px;
	position:absolute;
	top:20px;
	width:410px;
	text-align:center;
	-webkit-transition: 0.4s ease-in-out;
  	-moz-transition: 0.4s ease-in-out;
 	transition: 0.4s ease-in-out;
}


#comenzar h2 {
	color:#fff;
	margin-bottom:3px;
}

#comenzar img {
	width:408px;
	margin-bottom:10px;
}

#comenzar a {
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	color:#bba86e;
	border:2px solid #bba86e;
	font-weight:700;
	padding:5px 18px 5px 18px;
	width:410px;
	text-decoration:none;
	-webkit-transition: 0.4s ease-in-out;
  	-moz-transition: 0.4s ease-in-out;
 	transition: 0.4s ease-in-out;
}

#comenzar a:hover {
	color:#fff;
	background-color:#bba86e;
}

#comprarfondo {
	background-color:#f2f2f2;
	position:relative;
	height:560px;
}

#comprar h2 {
	color:#bba86e;
}

#comprarcolor {
	position:absolute;
	top:50px;
	left:175px;
	text-align:center;
}

#comprarcolor h5 {
	color:#bba86e;
	font-size:30px;
	font-family: 'Raleway', sans-serif;
	font-weight:800;
	margin-bottom:12px;
	margin-top:0px;
}

#comprarcolor h6 {
	color:#a5a5a5;
	font-size:30px;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	margin-top:12px;
	margin-bottom:12px;
}

#comprarcolor img {
	width:300px;
	border-radius: 500px;
	border:2px solid #bba86e;
	padding:4px;
}

#comprarcolor p {
	color:#8e8e8e;
	font-size:12px;
	font-family: 'Raleway', sans-serif;
}

#separador {
	background-color:#bba86e;
	height:451px;
	width:2px;
	position:absolute;
	top:54px;
	right:468px;
}

#comprargotas {
	position:absolute;
	right:125px;
	top:32px;
	margin:auto;
	width:330px;
	text-align:center;
}

#comprargotas img {
	width:322px;
	margin-bottom:30px;
}

#agregarcarrito {
	margin-left:39px;
	width:234px;
	background-color:#bba86e;
	font-size:16px;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	color:#fff;
	text-align:center;
	padding:10px 0px 10px 0px;
}

#agregarcarrito img {
	width:30px;
	float:right;
	margin-top:-8px;
	margin-left:-8px;
	margin-right:20px;
}

#flecha1 img {
	width:75px;
	position:absolute;
	top:231px;
	left:80px;
}

#flecha2 img {
	width:75px;
	position:absolute;
	top:231px;
	right:80px;
}

#vermas {
	text-align:center;
	margin-top:50px;
	margin-bottom:80px;
}

#vermas a {
	color:#bba86e;
	background-color:#fff;
	margin:auto;
	width:322px;
	text-decoration:none;
	font-size:20px;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	padding:10px;
	border:2px solid #bba86e;
	-webkit-transition: 0.4s ease-in-out;
  	-moz-transition: 0.4s ease-in-out;
 	transition: 0.4s ease-in-out;
}

#vermas a:hover {
	color:#fff;
	background-color:#bba86e;
}